.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.fieldset {
  border: none;
}

.legend {
  font-size: 28px;
  color: #543b39;
  text-align: center;
  padding: 10px;
}

.scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eee8da;
  position: absolute;
  top: 200px;
}

.breed-card {
  /* height: 300px; */
  width: 270px;
  border: 3px solid #543b39;
  border-radius: 10px;
  padding: 15px;
  margin: 20px;
  background-color: #fcfcf2;
}

.title {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.name {
  font-size: 20px;
  color: #543b39;
  margin-left: 10px;
}

.description {
  color: #543b39;
}

.button {
  position: absolute;
  top: 70px;
}

@media only screen and (min-width: 768px) {
  .scroll {
    overflow-y: scroll;
    height: 55vh;
  }

  .div-container {
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    top: 0;
  }

  .breed-card {
    height: 300px;
    width: 300px;
  }

  .button {
    width: 50%;
    position: static;
  }
}
