<!-- <button (click)="goBackPage()" class="anchor hide">
  <i class="fas fa-arrow-left"></i> Back
</button> -->
<div class="div container">
  <h1 class="h1">WHOOPS!</h1>

  <img
    class="cat-awk"
    src="https://media.giphy.com/media/5WhcSpUjK02f30sDQr/giphy.gif"
    alt=""
  />
  <!-- dog -->
  <!-- https://media.giphy.com/media/5WhcSpUjK02f30sDQr/giphy.gif -->

  <section class="section">
    <!-- <h2 class="h2">Error 404 Page Not Found</h2> -->
    <p class="paragraph"></p>
    <p class="error">Error Code: 404</p>
    <p class="paragraph-one">
      This is <span id="Not">NOT</span> the kitten you're looking for...
    </p>

    <p class="paragraph-two">
      Please redirect yourself to the <a routerLink="/home">home page</a>
    </p>
    <p class="paragraph-last">and try again!</p>
  </section>
</div>
