* {
  box-sizing: border-box;
}

.spacer {
  height: 80px;
  width: 100%;
}

li {
  list-style: none;
}

.navbar {
  display: flex;
  flex-direction: column;
  background-color: #e4883e;
  color: #fcfcf2;
  padding: 0 30px;
  position: absolute; /* THIS BOY */
  width: 100%;
  z-index: 999;
}
.navbar-links {
  overflow: hidden;
  transition: transform 0.2s;
}

.navbar-links a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}

.navbar-links a:hover {
  border-bottom: 3px solid #543b39;
  /* transform: scale(1.2); */
}
.navbar-links a.active {
  border-bottom: 3px solid #543b39;
  /* transform: scale(1.2); */
}
.navbar-links ul li a {
  transition: all 0.4s;
}

.title {
  font-size: 2.5rem;
  margin: 1rem;
  text-decoration: none;
  color: #fcfcf2;
  font-family: "Dancing Script", cursive;
}

.navbar-links {
  display: none;
  align-items: center;
}

.navbar-links ul {
  width: 100%;
}

.navbar-links li {
  list-style: none;
  text-align: center;
}

.link {
  text-decoration: none;
  color: #fcfcf2;
  padding: 20px;
  display: block;
  width: 100%;
  font-size: 25px;
}

.navbar-links li:hover {
  background-color: #997750;
}

.fa-bars {
  position: absolute;
  top: 20px;
  right: 46px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 40px;
  cursor: pointer;
}

.navbar-links.active {
  display: flex;
}

.responsive {
  display: flex;
}

.hidden {
  display: none;
}

@media only screen and (min-width: 768px) {
  .spacer {
    height: 10vh;
    width: 100%;
  }
  .navbar {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
  }

  .navbar-links {
    display: flex;
  }
  .navbar-links {
    overflow: hidden;
    transition: transform 0.2s;
  }

  .navbar-links a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
  }

  .navbar-links a:hover {
    border-bottom: 3px solid #543b39;
    color: #543b39;
    /* transform: scale(1.2); */
  }
  .navbar-links a.active {
    border-bottom: 3px solid #543b39;
    /* transform: scale(1.2); */
  }
  .navbar-links ul li a {
    transition: all 0.4s;
  }
  .navbar-links ul {
    display: flex;
    flex-direction: row;
  }

  .navbar-links li:hover {
    background-color: #e4883e;
  }

  .link {
    font-size: 1rem;
  }

  .fa-bars {
    display: none;
  }
}
