<nav class="navbar">
  <a routerLink="/home" class="title">It's Cats!</a>
  <!-- <a class="toggle-button" "> -->
  <span class="fas fa-bars" (click)="showNav()"></span>
  <!-- </a> -->
  <div class="navbar-links" id="nav">
    <ul>
      <li>
        <a routerLink="/quiz" class="link" (click)="hideNav()">get paired</a>
      </li>
      <li><a href="#" class="link" (click)="hideNav()">favorite cats</a></li>
      <li><a routerLink="/about" class="link" (click)="hideNav()">about</a></li>
    </ul>
  </div>
</nav>
