<!-- <nav>
  <div class="logo">
    <h1><a routerLink="/home">It's cats!</a></h1>
  </div>
  <ul class="nav-links">
    <div class="container">
      <li>
        <a href="#">search cats<span class="fas fa-angle-right"></span></a>
      </li>
      <li>
        <a href="#">get paired<span class="fas fa-angle-right"></span></a>
      </li>
      <li>
        <a href="#">favorite cats<span class="fas fa-angle-right"></span></a>
      </li>
      <li>
        <a href="#">about<span class="fas fa-angle-right"></span></a>
      </li>
    </div>
  </ul>
  <div class="burger">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
</nav> -->
