<nav class="navbar">
  <a routerLink="/home" class="title">It's Cats!</a>
  <a class="toggle-button" (click)="showNav()">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </a>
  <div class="navbar-links" id="nav">
    <ul>
      <li class="link">
        <a routerLink="/search" (click)="hideNav()">search cats</a>
      </li>
      <li class="link">
        <a routerLink="/quiz" (click)="hideNav()">get paired</a>
      </li>
      <li class="link"><a href="#" (click)="hideNav()">favorite cats</a></li>
      <li class="link"><a routerLink="/about" (click)="hideNav()">about</a></li>
    </ul>
  </div>
</nav>
