* {
  box-sizing: border-box;
}

.navbar {
  display: flex;
  flex-direction: column;
  background-color: #e4883e;
  color: #fcfcf2;
}

.title {
  font-size: 1.5rem;
  margin: 1rem;
  text-decoration: none;
  color: #fcfcf2;
}

.navbar-links {
  display: none;
  align-items: center;
}

.navbar-links ul {
  width: 100%;
}

.navbar-links li {
  list-style: none;
  text-align: center;
}

.navbar-links li a {
  text-decoration: none;
  color: #fcfcf2;
  padding: 1rem 1rem;
  display: block;
  width: 100%;
}

.navbar-links li:hover {
  background-color: #997750;
}

.toggle-button {
  position: absolute;
  top: 1.25rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  cursor: pointer;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #fcfcf2;
  border-radius: 10px;
}

.navbar-links.active {
  display: flex;
}

.responsive {
  display: flex;
}

@media only screen and (min-width: 768px) {
  .navbar {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .navbar-links {
    display: flex;
  }

  .navbar-links ul {
    display: flex;
    flex-direction: row;
  }

  .navbar-links li:hover {
    background-color: #e4883e;
  }

  .toggle-button {
    display: none;
  }
}
