<form #quizForm="ngForm" (ngSubmit)="getCatBreedDetails(quizForm)">
  <fieldset>
    <legend>How playful is your ideal cat</legend>
    <input type="radio" id="playful1" name="playfulness" value="1" ngModel />
    <label for="playful1">Not at all</label>
    <input type="radio" id="playful2" name="playfulness" value="2" ngModel />
    <label for="playful2">a little</label>
    <input type="radio" id="playful3" name="playfulness" value="3" ngModel />
    <label for="playful3">moderately</label>
    <input type="radio" id="playful4" name="playfulness" value="4" ngModel />
    <label for="playful4">more than moderately</label>
    <input type="radio" id="playful5" name="playfulness" value="5" ngModel />
    <label for="playful5">Very</label>
  </fieldset>
  <fieldset>
    <legend>How vocal is your ideal cat?</legend>
    <input type="radio" id="vocal1" name="vocal" value="1" ngModel />
    <label for="vocal1">Not at all</label>
    <input type="radio" id="vocal2" name="vocal" value="2" ngModel />
    <label for="vocal2">a little</label>
    <input type="radio" id="vocal3" name="vocal" value="3" ngModel />
    <label for="vocal3">moderately</label>
    <input type="radio" id="vocal4" name="vocal" value="4" ngModel />
    <label for="vocal4">more than moderately</label>
    <input type="radio" id="vocal5" name="vocal" value="5" ngModel />
    <label for="vocal5">Very</label>
  </fieldset>
  <fieldset ngModelGroup="shedding">
    <legend>How much does your ideal cat shed?</legend>
    <input type="checkbox" id="shed1" name="1" value="1" ngModel />
    <label for="shed1">Not at all</label>
    <input type="checkbox" id="shed2" name="2" value="2" ngModel />
    <label for="shed2">a little</label>
    <input type="checkbox" id="shed3" name="3" value="3" ngModel />
    <label for="shed3">moderately</label>
    <input type="checkbox" id="shed4" name="4" value="4" ngModel />
    <label for="shed4">more than moderately</label>
    <input type="checkbox" id="shed5" name="5" value="5" ngModel />
    <label for="shed5">Very</label>
  </fieldset>
  <button>Submit</button>
</form>
