.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.quizForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inputContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.questionDiv {
  width: 100vw;
  height: 83vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  background-color: #fcfcf2;
}

.quizInstruction {
  color: #997750;
  font-size: 28px;
}

.qContainer {
  padding: 10px 50px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.optionLabel {
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
}

/* hide the browser's default radio button */
.optionLabel input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* custom radio button */
.checkmark {
  position: absolute;
  top: 2px;
  left: -30px;
  height: 25px;
  width: 25px;
  background-color: #eee8da;
  border-radius: 50%;
}

/* When the radio button is checked, add an orange background */
.optionLabel input:checked ~ .checkmark {
  background-color: #e4883e;
}

.legend {
  font-size: 2rem;
  text-align: center;
  padding: 20px;
}

.optionLabel:hover {
  color: #e4883e;
}

.submit {
  width: 100%;
  background-color: #997750;
  color: #fcfcf2;
  border: none;
  border-radius: 10px;
  font-size: 30px;
  padding: 20px;
  margin-left: 5px;
  outline: none;
  cursor: pointer;
  font-family: "Nunito", sans-serif;
}

.submit:hover {
  background-color: #e4883e;
}

.btn {
  text-align: center;
  width: 135px;
  margin-left: 5px;
  background-color: #997750;
  color: #fcfcf2;
  border: none;
  border-radius: 10px;
  font-size: 30px;
  padding: 20px;
  outline: none;
  cursor: pointer;
  font-family: "Nunito", sans-serif;
}

.btn:hover {
  background-color: #e4883e;
}

.hide {
  display: none;
}

.orange {
  color: #e4883e;
}

.anchor {
  font-size: 1.5rem;
  padding: 5px;
  margin: 5px;
  color: #543b39;
}

.hide {
  background-color: transparent;
  border: none;
  outline: none;
}

.back-next {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .main {
    justify-content: center;
  }
  .quizForm {
    width: 1040px;
  }

  .questionDiv {
    justify-content: center;
  }

  .qContainer {
    padding: 0;
    margin: 50px;
  }

  .optionLabel {
    margin-bottom: 25px;
  }

  .submit {
    width: 54%;
  }
}
