.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.quizForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inputContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.questionDiv {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  background-color: #fcfcf2;
}

.quizInstruction {
  color: #997750;
  font-size: 28px;
}

.qContainer {
  padding: 10px 50px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.optionLabel {
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* hide the browser's default radio button */
.optionLabel input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* custom radio button */
.checkmark {
  position: absolute;
  top: 2px;
  left: -30px;
  height: 25px;
  width: 25px;
  background-color: #eee8da;
  border-radius: 50%;
}

/* When the radio button is checked, add an orange background */
.optionLabel input:checked ~ .checkmark {
  background-color: #e4883e;
}

.legend {
  font-size: 2rem;
  text-align: center;
  padding: 20px;
}

.optionLabel:hover {
  color: #e4883e;
}

.button {
  text-align: center;
  width: 80%;
}

.submit {
  width: 94%;
}

.hide {
  display: none;
}

.orange {
  color: #e4883e;
}

@media screen and (min-width: 768px) {
  .main {
    justify-content: center;
  }
  .quizForm {
    width: 1040px;
  }

  .questionDiv {
    justify-content: center;
  }

  .qContainer {
    padding: 0;
    margin: 50px;
  }

  .optionLabel {
    margin-bottom: 25px;
  }

  .button {
    width: 30%;
  }
}
