<h1>Our Vision</h1>
<section class="story">
  <p class="story-paragraph">
    Every year, approximately 3.2 million new cats enter our shelter-system.
    With the emergence of COVID-19, shelters that were already competing for
    funding and supplies are struggling to maintain basic operations. Now, more
    than ever, shelters are looking for potential adopters.
  </p>
  <p class="story-paragraph">
    To give the shelters a hand, we came up with a website to help bridge the
    gap between adopter and adoptee. Using data provided by theCatAPI, we pair
    you with your perfect breed based on your ideal cat. Do you prefer a quiet
    cat, or a talkative cat? A lazy cat, or a cat that likes to be played with?
    Then, using the Petfinder API, we supply you with a list of adoptable cats
    based on the breeds you were matched with!
  </p>
  <p class="story-paragraph-end">
    *This website is built with Angular, NodeJS, and Express.
  </p>
</section>
<div class="div-container">
  <h2 class="about-us">About Us</h2>
  <div class="bios-container">
    <div class="info">
      <div class="img-container katie profile-pic"></div>
      <h2 class="full-name">
        Katie Braun
        <a href="https://www.linkedin.com/in/katieebraun/">
          <i class="fab fa-linkedin"></i>
        </a>
      </h2>
      <p class="about-me">
        Visual designer, creative problem-solver, and a collector of knowledge.
      </p>
    </div>
    <div class="info">
      <div class="img-container kanchan profile-pic"></div>
      <h2 class="full-name">
        Kanchan Kandage
        <a href="http://linkedin.com/in/kanchankandage">
          <i class="fab fa-linkedin"></i>
        </a>
      </h2>
      <p class="about-me">
        Experienced software engineer, Passionate programmer with strong
        analytical skills
      </p>
    </div>
    <div class="info">
      <div class="img-container anthony profile-pic"></div>
      <h2 class="full-name">
        Anthony Chiara
        <a href="https://www.linkedin.com/in/ajc12/">
          <i class="fab fa-linkedin"></i>
        </a>
      </h2>

      <p class="about-me">
        Music creator, creative software developer, and Lego lover.
      </p>
    </div>
  </div>
</div>
