.story {
  margin: 0;
  padding: 0;
}
h1 {
  margin-top: 10px;
  text-align: center;
}
.story {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 13px 13px 13px;
  padding: 0px 10px 0px 10px;
  /* font-size: 1.23rem;
  border: orange 1px solid;
  border-radius: 25px;
  box-shadow: 0 2px 10px 5px #000; */
}
.story-paragraph {
  padding-bottom: 15px;
}
.story-paragraph-end {
  font-style: italic;
  font-size: 13px;
  text-align: center;
}
.div-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
div {
  display: block;
}
.bios-container {
  display: block;
  justify-content: center;
  align-items: flex-start;
  border-radius: 25px;
  box-shadow: 0 2px 10px 5px #000;
  border: 2px solid #e4883e;
  margin: 20px;
}
.info {
  flex: 1;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.full-name {
  text-align: center;
  margin-top: 5px;
}
.about-me {
  text-align: center;
}

.katie {
  background-image: url("/assets/images/headshot2020.jpg");
}
.kanchan {
  background-image: url("/assets/images/Kanchan.jpeg");
}
.anthony {
  background-image: url("/assets/images/IMG-5592.jpg");
}
.img-container {
  height: 150px;
  width: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  width: 250px;
}
.profile-pic {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #000;
  /* transform: translateX(95px); */
}
.fab {
  color: #0072b1;
}

.about-us {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  body,
  h1,
  h2,
  .div-container,
  .story {
    margin: 0;
    padding: 0;
  }
  h1 {
    margin-top: 30px;
    padding-bottom: 7px;
  }

  .story {
    /* margin-top: 20px; */
    font-size: 20px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 10px;
    /* padding: 0 20px 0 20px; */
  }
  .story-paragraph {
    padding-bottom: 20px;
    text-align: start;
  }
  .story-paragraph-end {
    font-style: italic;
    font-size: 20px;
  }
  .div-container {
    margin-bottom: 100px;
    /* padding-top: 30px; */
    /* padding: 0 20px 0 20px; */
  }
  .about-us {
    font-size: 40px;
    padding-top: 10px;
  }
  .bios-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 25px;
    box-shadow: 0 2px 10px 5px #000;
    border: 2px solid #e4883e;
    margin-top: 50px;
  }
  .katie-info {
    flex: 1;
    padding: 15px;
  }
  .full-name {
    text-align: center;
    margin-top: 5px;
  }
  .img-container-katie {
    background-image: url("/assets/images/headshot2020.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    width: 250px;
    margin-left: 60px;
  }
  .kanchan-info {
    flex: 1;
    padding: 15px;
  }
  .img-container-kanchan {
    background-image: url("/assets/images/Kanchan.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    width: 250px;
    margin-left: 60px;
  }
  .anthony-info {
    flex: 1;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: normal;
  }
  .img-container-anthony {
    background-image: url("/assets/images/IMG-5592.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    width: 250px;
    margin-left: 60px;
  }
  .profile-pic {
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #000;
    margin-left: 0px;
  }
}
