<button (click)="goBackPage()" class="anchor hide">
  <i class="fas fa-arrow-left"></i> Back
</button>

<main class="main">
  <section class="left" *ngIf="catBio">
    <section class="cat-img">
      <img *ngIf="catBio.primary_photo_cropped; else elseBlock"
        src="{{ catBio?.primary_photo_cropped['medium'] }}"
        alt="picture of the cat"
        class="catPic"
      />
      <ng-template #elseBlock>
      <img 
        src="assets/images/placeholder2.jpg"
        alt="placeholder as picture the cat is not available"
        class="catPic"
      />
    </ng-template>
    </section>
    <section class="cat-bio">
      <section class="title">
        <section class="name-gender">
          <div *ngIf="catBio.gender === 'Female'" class="gender">
            <i class="fas fa-venus"></i>
          </div>
          <div *ngIf="catBio.gender === 'Male'" class="gender">
            <i class="fas fa-mars"></i>
          </div>
          <div class="name">{{ catBio.name }}</div>
        </section>

      </section>

      <section class="breed-color-age">
        <div class="br-c-age">
          <label for="breed" class="label">Breed</label>
          <p>
            :
            {{ catBio.breeds["mixed"] ? "Mixed -" : "" }}
            {{ catBio.breeds["primary"] }}
            {{ catBio.breeds["secondary"] }}
          </p>
        </div>
        <div class="br-c-age">
          <label for="color" class="label">Color</label>
          <p>: {{ catBio.colors["primary"] }}</p>
        </div>
        <p class="br-c-age">
          <label for="age" class="label">Age</label>: {{ catBio.age }}
        </p>
      </section>
      <section class="description">
        <p>
          {{ catBio.description}}
        </p>
        <a href="{{ catBio.url}}" target="_blank" class="More"> More</a>
      </section>
      <section class="attributes">
        <section class="goodWithContainer">
          <div *ngIf="catBio.environment['children']" class="attr">
            <i class="fas fa-check orange"></i> Good With Children
          </div>
          <div *ngIf="catBio.environment['dogs']" class="attr">
            <i class="fas fa-check orange"></i> Good With Dogs
          </div>
          <div *ngIf="catBio.environment['cats']" class="attr">
            <i class="fas fa-check orange"></i> Good With Cats
          </div>
        </section>

        <section class="attributesContainer">
          <div *ngIf="catBio.attributes['spayed_neutered']" class="attr">
            <i class="fas fa-check orange"></i> Spayed/Neutered
          </div>
          <div *ngIf="catBio.attributes['house_trained']" class="attr">
            <i class="fas fa-check orange"></i> House trained
          </div>
          <div *ngIf="!catBio.attributes['declawed']" class="attr">
            <i class="fas fa-check orange"></i> Has Claws
          </div>
          <div *ngIf="catBio.attributes['shots_current']" class="attr">
            <i class="fas fa-check orange"></i> Shots are current
          </div>
        </section>
      </section>
    </section>
  </section>
  <section class="adoption-info" *ngIf="orgInfo">
    <h2 class="org-name">
      <a href="{{ orgInfo.url }}" target="_blank">
        {{ orgInfo.name }}
      </a>
    </h2>
    <div class="contacts">
      <i class="far fa-envelope"></i>
      {{ orgInfo.email }}
      <span *ngIf="orgInfo.email === null">please use phone</span>
    </div>
    <div class="contacts">
      <i class="fas fa-phone"></i>
      {{ orgInfo.phone }}
      <span *ngIf="orgInfo.phone === null">please use email</span>
    </div>
    <div class="contacts">
      <i class="fas fa-map-marker-alt"></i>
      
      {{ orgInfo.address.city }}, {{ orgInfo.address.state }}
    </div>
  </section>
</main>
