

<div class="container">
  <li class="cat-card-info">
    <img
      src="{{ catRef.primary_photo_cropped?.small }}"
      alt="{{ catRef.name }}"
      class="img"
    />
    <div class="info">
      <p class="name">{{ catRef.name }}</p>
      <div class="buttons">
        <div class="tooltip">
          <span class="tooltiptext">Add/remove favorites</span>
          <button class="hide">
            <i
              class="fas fa-heart"
              [ngClass]="{ favorite: favoriteFlag || catRef.isFavorite}"
              (click)="handleHeartClick(catRef.id) "
            ></i>
          </button>
        </div>

        <button class="more" (click)="showCatBio(catRef.id)">More</button>
      </div>
    </div>
  </li>
</div>
