<main class="main">
  <i
    class="fas fa-heart"
    [ngClass]="{
      favorite: favoriteFlag || catRef.isFavorite,
      is_animating: isClicked
    }"
    (click)="handleHeartClick(catRef.id)"
  ></i>
  <div
    class="container"
    (click)="showCatBio(catRef.id, catRef.organization_id)"
  >
    <li class="cat-card-info">
      <div class="bg">
        <img
          src="{{ catRef.primary_photo_cropped?.small }}"
          alt="{{ catRef.name }}"
          class="img"
          onerror="this.src = 'assets/images/placeholder_sm.jpg';"
        />
      </div>
      <div class="info">
        <p class="name" [ngClass]="{ small: catRef.name.length > 45 }">
          {{ catRef.name }}
        </p>
      </div>
    </li>
  </div>
</main>
