body,
h1,
h2,
ul,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: #fcfcf2;
}

.button {
  background-color: #997750;
  color: #fcfcf2;
  border: none;
  border-radius: 10px;
  font-size: 30px;
  padding: 20px 30px;
  margin: 10px 0;
  outline: none;
  cursor: pointer;
}

.button:hover {
  background-color: #e4883e;
}

@media only screen and (min-width: 768px) {
  .button {
    font-size: 1rem;
    padding: 20px;
    width: 300px;
  }

  .button:hover {
    background-color: #e4883e;
  }
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;

  background-color: #997750;
  color: #fcfcf2;
  text-align: center;
  padding: 5px;
  border-radius: 6px;

  /* position */

  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
