body,
h1,
ul,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: #fcfcf2;
}

.button {
  background-color: #997750;
  color: #fcfcf2;
  border: none;
  border-radius: 10px;
  font-size: 30px;
  padding: 20px 30px;
  margin: 20px 0;
  outline: none;
  cursor: pointer;
}

.button:hover {
  background-color: #e4883e;
}

@media only screen and (min-width: 768px) {
  .button {
    font-size: 1rem;
    padding: 20px;
    width: 300px;
  }

  .button:hover {
    background-color: #e4883e;
  }
}
