<main>
  <form #searchForm="ngForm" (change)="setSearchCriteria(searchForm)">
    <article class="article">
      <div class="container">
        <label for="Age" class="label">Age: </label>
        <select
          class="select"
          name="searchAge"
          id="age"
          [(ngModel)]="searchAge"
        >
          <option value="Any">Any</option>
          <option value="Baby">Baby</option>
          <option value="Young">Young</option>
          <option value="Adult">Adult</option>
          <option value="Senior">Senior</option>
        </select>
      </div>

      <div class="container">
        <label for="gender" class="label">Gender: </label>
        <select
          class="select"
          name="searchGender"
          id="gender"
          [(ngModel)]="searchGender"
        >
          <option value="Any" selected>Any</option>
          <option value="Female">Female</option>
          <option value="Male">Male</option>
        </select>
      </div>

      <div class="container">
        <label for="state" class="label">State: </label>
        <select
          class="select"
          name="searchState"
          id="state"
          [(ngModel)]="searchState"
        >
          <option value="Any" selected>Any</option>
          <option *ngFor="let state of states" value="{{ state }}">
            {{ state }}
          </option>
        </select>
      </div>
    </article>
  </form>

  <section class="breed-section" *ngFor="let item of breedCatsArrFiltered">
    <div class="scroll">
      <div class="breed-name">{{ item.breed }}</div>
      <div class="breed-slide" *ngFor="let cat of item.catsArray">
        <app-cat-card [catRef]="cat"> </app-cat-card>
      </div>
    </div>
  </section>
</main>
