* {
  box-sizing: border-box;
}

.home {
  background-image: url("/assets/paws-bg.png");
  background-repeat: repeat;
}

.purrr {
  font-style: italic;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 30px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 30px;
}

.heading,
.content {
  color: #543b39;
  margin: 20px 0;
}

.heading {
  text-align: center;
  font-size: 2rem;
  margin: 0 10px;
}

.orange {
  color: #e4883e;
}

.content {
  text-align: center;
  font-size: 1.5rem;
  padding: 50px 0;
}

.button {
  background-color: #997750;
  color: #fcfcf2;
  border: none;
  border-radius: 10px;
  font-size: 30px;
  padding: 30px;
  margin: 20px 0;
  width: 100%;
  cursor: pointer;
}

.credit {
  position: relative;
  text-align: center;
  bottom: 0px;
}

.credit a {
  text-decoration: none;
  color: #e4883e;
}

.image {
  display: none;
}

@media only screen and (min-width: 768px) {
  .text,
  .heading,
  .content {
    margin: 0;
    padding: 0;
  }

  .home {
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
  }

  .text {
    flex: 1;
    margin-right: 50px;
    padding: 50px 50px 30px 50px;
    align-items: flex-start;
  }

  .heading {
    font-size: 2rem;
    text-align: left;
  }

  .content {
    font-size: 1rem;
    padding: 20px 0;
    text-align: left;
  }

  .button {
    font-size: 1rem;
    padding: 20px;
    width: 300px;
  }

  .button:hover {
    background-color: #e4883e;
  }

  .image {
    display: flex;
    flex: 1;
    border: 1px solid black;
    width: 500px;
    height: 400px;
  }

  .credit {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }

  .credit a:hover {
    color: #543b39;
  }
}
