<main class="home">
  <div class="text">
    <h1 class="heading">
      <p>
        Find the
        <span class="orange"><span class="purrr">Purrr</span>fect cat</span> for
        you!
      </p>
    </h1>

    <p class="content">
      We help cat lovers connect with the adoptable cats that suit them best.
      When you take our quiz, you will be matched with the
      <span class="purrr">purrr</span>fect cat breed according to your ideal
      cat’s behavior and temperament.
    </p>

    <button routerLink="/quiz" class="button start">Let's get started!</button>
  </div>
  <div class="image">
    <img
      class="illustration"
      src="/assets/images/home-illustration3.png"
      alt="illustration"
    />
  </div>
</main>
